<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<h3>Usuario : <span th:text="${user}" ></span></h3>
<br/>
<br/>


<ul>
    <li>
        <a th:href="@{/empleado}">vista empleados</a>
    </li>
    <li>
        <a th:href="@{/administrador}">Vista Administrador</a>
    </li>
</ul>
<br/>
<br/>

<form th:action="@{/logout}" method="post">
    <button class="btn  btn-primary btn-block" type="submit">SALIR</button>
</form>
</body>
</html>